<!DOCTYPE html>
<html>
<head>
  <title>ToDoList</title>
  <%= javascript_include_tag "http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js", "jquery.rails.js", "application.js" %>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <!-- Navbar begins-->
  <%= nav_bar :responsive => true, :brand => "Simple To-do List" do %>
    <% menu_group :pull => :right do %>
      <% if user_signed_in? %>
        <%= menu_item "Hello, " + current_user.email, users_profile_path %>
        <%= menu_item "Sign Out", destroy_user_session_path, method: :delete %>
      <% else %>
        <%= menu_item "Sign In", new_user_session_path, method: :get %>
      <% end %>
        <%= menu_item "Go to your list", users_dashboard_path %>  
    <% end %>
  <% end %>
  <!--Navbar ends-->


<%= yield %>

  <%= nav_bar :fixed => :bottom do %>
    <div style="color: black" align="center">Tram Lai - Learnbydoing</div>
  <% end %>
  
</body>

</html>
